main {
  border: 5px solid #4285f4;
  text-align: center;
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 24px;
  width: 200px;
  font-weight: bold;
}

.first {
  background: #E67676;
  margin: 0px;
  padding: 20px;
 }

.second {
  background: #F2F062;
  margin: 0px;
  padding: 20px;
}

.third {
  background: #A9E6E6;
  margin: 0px;
  padding: 20px;
}

.fourth {
  background: #7692E4;
  margin: 0px;
  padding: 20px;
}